body {
  text-align: center;
}
h1 {
  color: blue;
}

button {
  width: 200px;
  height: 50px;
  margin: 10px;
  border: 2px solid blue;
  border-radius: 5px;
  background-color: coral;
  color: blue;
  font-size: xx-large;
}
